In [7]:
import zipfile
import pandas as pd

In [8]:
# Path to the zip file
zip_file_path = 'export_41.zip'

# Extract the CSV files from the zip archive
with zipfile.ZipFile(zip_file_path, 'r') as zip_file:
    csv_files = [file for file in zip_file.namelist() if file.endswith('.csv')]
    zip_file.extractall()

In [9]:
# Create an empty DataFrame to store the merged data
merged_data = pd.DataFrame()

# Iterate through the extracted CSV files and merge them into a single DataFrame
for csv_file in csv_files:
    data = pd.read_csv(csv_file, delimiter=';')  # Read each CSV file
    merged_data = pd.concat([merged_data, data])  # Concatenate the data to the merged DataFrame

# Write the merged data to a new CSV file
merged_data.to_csv('merged_doughnut.csv', index=False)

print("CSV files from the zip archive have been successfully merged into 'merged.csv'.")

CSV files from the zip archive have been successfully merged into 'merged.csv'.

In [10]:
df = pd.read_csv("merged_doughnut.csv")
df.tail()

,#object_id,description,result_timestamp,noise_event_laeq_model_id,noise_event_laeq_model_id_unit,noise_event_laeq_primary_detected_certainty,noise_event_laeq_primary_detected_certainty_unit,noise_event_laeq_primary_detected_class,noise_event_laeq_primary_detected_class_unit
81051,280324,MP08bis - Vrijthof,29/12/2022 09:08:11.171,16.0,NaN,99.0,%,Human voice - Shouting,NaN
81052,280324,MP08bis - Vrijthof,30/12/2022 13:54:27.224,16.0,NaN,99.0,%,Nature elements - Wind,NaN
81053,280324,MP08bis - Vrijthof,30/12/2022 13:56:57.225,16.0,NaN,0.0,%,Unsupported,NaN
81054,280324,MP08bis - Vrijthof,30/12/2022 15:09:33.233,16.0,NaN,100.0,%,Nature elements - Wind,NaN
81055,280324,MP08bis - Vrijthof,31/12/2022 12:01:26.480,16.0,NaN,100.0,%,Nature elements - Wind,NaN

In [11]:
df = df[['#object_id', 'description', 'result_timestamp', 'noise_event_laeq_primary_detected_class']]
df.head()

,#object_id,description,result_timestamp,noise_event_laeq_primary_detected_class
0,255439,MP 01: Naamsestraat 35 Maxim,28/02/2022 08:27:21.737,NaN
1,255439,MP 01: Naamsestraat 35 Maxim,28/02/2022 13:58:21.356,NaN
2,255439,MP 01: Naamsestraat 35 Maxim,28/02/2022 16:43:15.393,NaN
3,255439,MP 01: Naamsestraat 35 Maxim,28/02/2022 19:22:48.428,NaN
4,255439,MP 01: Naamsestraat 35 Maxim,28/02/2022 20:32:20.440,NaN

In [13]:
df['noise_event_laeq_primary_detected_class'].fillna("Not Available", inplace=True)

In [14]:
df.to_csv('doughnut_data.csv', index=False)